
/* Reset CSS*/

@font-face {
  font-family: 'Serat';
  src: url(../Assets/Fonts/SeratUltra.ttf);

}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url(../Assets/Fonts/AktivGroteskCorp-Medium.woff);
  font-weight: 500;
  font-style: normal;
}


/* a:active {
  color: var(--clr-accent-500);
} */

/* a:visited {
  color: var(--clr-accent-500)
} */

.observer {
  color: var(--clr-accent)
}

.navbar{
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1.5rem 2.5rem;
  background-color: hsla(180, 80%, 80%, 0.7);
  backdrop-filter: blur(.5rem)
}

.navbar--list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

header {
  margin-top: 0
}

section {
  height: 100vh;
}

h2 {
  font-family: var(--font-title);
  font-size: 28px;
  color: var(--clr-accent)
}

p {
  font-family: var(--font-principal);
  font-size: 16px;
}

.landing {
  margin-top: 6rem;
}

/*  
  Para las partes de texto poner width de 40ch  
  En los hovers de imágenes solo cambiar escala y poco más, sino tiene muchas papeletas de romperse
  En el hover si se quiere añadir un bordecito, añadirlo también -del mismo tamaño y transparente- sin él.
*/